/* html {
  overflow-x: hidden;
} */

body {
  min-height: 3000px;
}

.bg-custom {
  background-color: #00ced9;
}

.jumbotron,
.projects,
.car,
.contact {
  padding-top: 2rem;
  background-color: #d5fbfe;
}

.img-size {
  object-fit: cover;
}

section {
  scroll-margin-top: 5rem;
}

#modal-check {
  font-size: 100px;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

/* car */
.car-box {
  position: relative;
  background-color: #00ced9;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.car-box::before {
  content: "My";
  position: absolute;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.car-box:hover::before {
  opacity: 0.3;
}

.car-box::after {
  content: "Car";
  position: absolute;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  top: 330px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.car-box:hover::after {
  opacity: 0.3;
}

.car-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.5em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.car-box:hover .car-name {
  top: 20px;
  opacity: 1;
}

.btn-car-detail {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.car-box:hover .btn-car-detail {
  opacity: 1;
  bottom: 20px;
}

.car-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  max-width: 300px;
  transition: 0.5s;
}

.car-box:hover .car-img {
  transform: translate3d(-50%, -52%, 100px) rotate(-10deg) scale(2);
}
