/* html {
  overflow-x: hidden;
} */

body {
  min-height: 3000px;
}

.bg-custom {
  background-color: #00ced9;
}

.jumbotron,
.projects,
.contact {
  padding-top: 2rem;
  background-color: #d5fbfe;
}

.img-size {
  object-fit: cover;
  background-color: #0ba2ff;
}

section {
  scroll-margin-top: 5rem;
}

#modal-check {
  font-size: 100px;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
