.anim1-wrapper {
    position: relative;
    /* width: 100%;
    height: 100vh; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    /* background-color: aqua; */
}
.cover {
    position: absolute;
    inset: 0;
    background: oklch(21% 0.006 285.885); /* zinc-900 */
    z-index: 5;
    transform: translateY(0%);
}
.reveal-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 5px;
    background: oklch(92% 0.004 286.32); /* zinc-200*/
    transform: translateX(-50%) scaleX(0);
    transform-origin: center center;
    z-index: 9999;
    will-change: transform, opacity;
}
.content {
    position: relative;
    z-index: 1;
    opacity: 0;
    text-align: center;
}
