/* Styling untuk setiap slide (kartu) */
.slide {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    will-change: transform, opacity, z-index;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Tambahkan overlay gelap pada gambar latar */
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);
}
