/* Konfigurasi kustom */
:root {
    --primary-color: #dc2929;
    /* --dark-bg: #111827; */
    --preloader-panel-color: #e5e7eb;
    --swipe-color: oklch(26.9% 0 0);
}

/* Kelas untuk mengunci scrolling (PENTING saat preloader aktif) */
.no-scroll {
    overflow: hidden !important;
}

/* --- STYLES PRELOADER WRAPPER --- */

#preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Z-INDEX MUTLAK PALING TINGGI */
    z-index: 20000 !important;
    background-color: var(--preloader-panel-color);
    opacity: 1;
    will-change: transform, opacity;
}

/* Konten Tengah (Logo & Spinner) */
#preloader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    will-change: transform, opacity;
}

/* Style untuk Logo Gambar */
#logo-image {
    /* width: 150px;
    height: 50px; */
    object-fit: contain;
    margin-bottom: 1.5rem;
}

/* Animasi Spinner Sederhana */
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.3);
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    will-change: transform, opacity;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* tirai */

.hero__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    z-index: 19999;
}

.hero__image-cont {
    position: relative;
    overflow: hidden;
    background-color: var(--preloader-panel-color);
    will-change: transform;
}

.anim-swipe {
    position: absolute;
    width: 105%;
    height: 102%;
    top: 0;
    left: -2.5%;
    background-color: var(--swipe-color);
    z-index: 20000;
    will-change: transform;
}
