#timeline {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#timeline > div {
    position: absolute;
    inset: 0;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#red {
    background: red;
    z-index: 4;
}
#blue {
    background: blue;
    z-index: 3;
}
#aqua {
    background: aqua;
    color: black;
    z-index: 2;
}
#green {
    background: green;
    z-index: 1;
}
