#timeline {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#timeline > div {
    position: absolute;
    inset: 0;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
