.section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: aqua;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 5;
}

.reveal-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 10px;
    background: #ffffff;
    transform: translateX(-50%);
    z-index: 10;
}

.content {
    position: relative;
    z-index: 1;
    opacity: 0;
    text-align: center;
}
