body {
    margin: 0;
    padding: 0;
    background: #000;
    min-height: 200vh; /* biar bisa scroll */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container utama */
#section {
    position: relative;
    width: 600px;
    min-height: 50vh;
    background: #111;
    overflow: hidden;
    border: 1px solid #333;
}

.top-line {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
}

.bottom-line {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: #fff;
}

.top-line,
.bottom-line {
    transform-origin: center center; /* penting! */
}

/* Panel nutup */
.panel {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: #000;
    z-index: 1;
}

.top-panel {
    top: -50%;
}

.bottom-panel {
    bottom: -50%;
}
