/* Custom spin animation untuk toggle */
#hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
}
#hamburger.active span:nth-child(2) {
    opacity: 0;
}
#hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -2px);
}
