#timeline {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#timeline > section {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    /* biar scale membesar dari bawah */
    transform-origin: bottom center;
}
