body {
    min-height: 100vh;
    overflow-x: hidden;
}

/* Custom spin animation untuk toggle */
#hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
}
#hamburger.active span:nth-child(2) {
    opacity: 0;
}
#hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -2px);
}

/*? custom color */
.text-merah {
    color: #dc2929;
}

.bg-merah {
    background-color: #dc2929;
}

.outlined-text {
    color: black; /* Color of the text itself */
    text-shadow: -1px -1px 0 white, /* Top-left shadow */ 1px -1px 0 white,
        /* Top-right shadow */ -1px 1px 0 white,
        /* Bottom-left shadow */ 1px 1px 0 white; /* Bottom-right shadow */
}

/*? knockout text */
:root {
    /* 1. Definisikan URL Gambar Latar Belakang sebagai variabel CSS */
    --bg-url: url("/img/services.webp");
}

/* bg */
.bg-knockout-image {
    background-image: var(--bg-url);
}

/* Knockout Text */
.knockout-text {
    /* bg sama */
    background-image: var(--bg-url);

    /* fallback */
    color: #f3f4f6;

    /* lobang bg */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Standar */

    z-index: 10;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
